/* body {
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  min-height: 100vh;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
}


input{
  margin: 10px 0;
} */
@import "tailwindcss";